<h1>Spots#show</h1>
<p>Find me in app/views/spots/show.html.erb</p>
























<% @spot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
