.messagerie {
  margin: 16px 0px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  border-top: 0.3px solid rgba(100, 100, 100 , 0.3);
  flex-grow: 1;
  height: 516px;
  width: 80%;
  margin: 40px auto;

}

.conv-panels {
  width: 35%;
  border-right: 0.3px solid rgba(100, 100, 100 , 0.3);
  border-bottom: 0.3px solid rgba(100, 100, 100 , 0.3);
}

.c-panel {
  display: flex;
  padding: 8px 16px;
  border-radius: 4px;
}

.text-panel {
  margin-left: 16px;
  // border-bottom: 0.3px solid rgba(100, 100, 100 , 0.3);
  width: 100%;

  h3 {
    font-weight: bold;
  }
}


.preview {
  display: flex;
}

.c-panel:hover {
  background-color: #F2F2F2;
}

.selected-conv {
  background-color: #EAF3FF;
}


.conversation-name {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 24px;

  // border: solid;

  p {
    padding-top: 8px;
  }
}

.messages-container {
  z-index: -5;
  // border: solid;
  max-height: 370px;
  overflow-y: auto;
  height: 100% ;
}



