
.container-spot-show-header {
  // background-color: white;
  // box-shadow: 0 10px 30px rgba(0,0,0,.3);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 20px auto;

  .spot-show-header-main-content {
    max-width: 600px;
    flex-grow: 1;

    h1 {
      text-align: center;
    }

    .lat-long {
      text-align: right;
      margin-bottom: 20px;
    }

    p {
      text-align: justify;
    }
  }
}


.container-spotted-species {
  width: 100%;
  height: 400px;
  // box-shadow: 0 10px 30px rgba(0,0,0,.3);
  // margin: 20px 20px;
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.spotted-species {
  height: 250px;
  display: flex;
  align-items: center;
  // overflow: hidden;
  flex-wrap: nowrap;
  overflow-x: auto;

  .fish {
    // flex: 0 0 auto;
    width: 200px ;
    height: 200px;
    border: solid;
    // margin-right: 20px;
    p {
      text-align: center;
    }
  }

  .fish-name {
    // border: solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fish-img, .fish-properties {
    // border: solid;
    width: 90%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    img {

      width: 100%;
      height:130px;
      // height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }
  }
}

.container-spot-show-body {

  .container-flex {
    width: 90%;
    height: 350px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .map{
    width: 50%;
    height: 300px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    margin-right: 50px;
  }

  h1 {
    text-align: center;
  }

  .tips {
    // border:solid;
    width: 50%;
    height: 300px;
    // background-color: white;
    // box-shadow: 0 5px 10px rgba(0,0,0,.1);
    flex-wrap: nowrap;
    overflow-x: auto;

    #no-tips {
      text-align: center;
      font-style: italic;
      margin-top: 80px;
    }
  }

  .user-profile-link {
    text-decoration: none;
    color: $success;

    &:hover {
      font-weight: 900;
      transform: scale(1.1);
    }
  }

  .reviews {
    // border:solid;
    width: 80%;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 16px;
    // background-color: white;
    // box-shadow: 0 5px 10px rgba(0,0,0,.1);
    // flex-wrap: nowrap;
    // overflow-x: auto;

    .btn-submit{
      width: 200px;
      text-align: center;
    }

    .reviews-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}


.container-review-cards {
  width: 80%;
  margin: 0 auto;
  // border:solid;
}

.review-cards {
  // border:solid;
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  // margin-left: 200px;

  .card-comment {
    width: 550px;
  }

  .avatar:hover {
    transform: scale(4);
    transition: transform .5s
  }
}



.full-review-link {
  text-decoration: none !important;
  color: $success;
  font-style: italic;

  &:hover {
    font-weight: 900;
    color: $success;
    font-style: italic;
  }
}












/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  // background-color: transparent;
  flex: 0 0 auto;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}



