.spots-filter-container {
  // border: solid;
  position: -webkit-sticky;
  position: sticky;
  top: 58px;
  z-index: 10;
  background-color: #F4F4F4;
  margin: 0;
  padding-top: 1px;

}

.spots-filter {
  // border: dotted;
  margin: 20px 20px 0px 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  #search-bar {
    width: 300px;
    .form-control.string {
      height: 48px;
      border-radius: 4px;
      border: 1px solid #aaa;

    }
  }
}

#tags-filters.index-filters {
  width: 300px !important;
}

#tags-filters {
  margin: 0 10px;
  flex-grow: 1;
  width: 300px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select2-search__field {
    display:none;
  }
  .select2-selection__choice{
    margin-top: 8px;
    color: white;
  }

  #dive-type-filters {
    width: 230px;
    position: relative;
    .select2-selection__choice{
      background-color: #0F018B;

    }
    .select2-selection.select2-selection--multiple {
      min-height: 48px;
      position: relative;

    }
  }

  #difficulty-filters {
    width: 230px;
    .select2-selection__choice{
      background-color: #FFA500;
      margin-top: 8px;
    }
    .select2-selection.select2-selection--multiple {
      min-height: 48px;
    }
  }

  #attractions-filters {
    width: 230px;
    .select2-selection__choice{
      background-color: #8FEE8F;
      margin-top: 8px;
    }
    .select2-selection.select2-selection--multiple {
      min-height: 48px;

    }
  }

  #species-filters {
    width: 230px;
    .select2-selection__choice{
      background-color: $success;
      margin-top: 8px;
    }
    .select2-selection.select2-selection--multiple {
      height: 48px;
    }
  }

  .select2-selection__choice__remove{
    position: absolute;
    color: transparent;
    right: -2px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-color: transparent;
  }
}



.index-container {
  display: flex;
}

#map {
  border-radius: 4px;
}

.mapp{
  width: 50%;
  margin-right: 16px;
  height: 75vh;
  position: -webkit-sticky;
  position: sticky;
  top: 189px;
  margin-top: 58px;
  // position: fixed;
  // right:-10px;
}

.no-favs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    font-style: italic;
  }
}
