.spots-filter {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-bar {
    width: 500px;
    height: 100%;
  }
}






.index-container {
  display: flex;
}

.mapp{
  width: 50%;
  margin-right: 16px;
  margin-top: 16px;
  height: 90vh;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;

}
