.spot-new-container {
  width: 60%;
  height: 900px;
  margin: 0px auto;
  padding-top: 20px;
  color: white;
  // border: solid;
  h1, h5, p {
    text-align: center;
  }
  h5 {
    margin-bottom: 20px;
  }

  .tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 800px;
    // border:solid;

    .tag {
      // width: 300px;
    }
  }
}

#tags-filters.new-spot-filters {
  width: 100% !important;
  margin: 0 auto;
}


.coordinates {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .lat {
    flex-grow: 1;
    margin-right: 40px;
  }

  .long {
    flex-grow: 1;
    margin-left: 40px;
  }
}

  .btn-container {
    width: 200px;
    margin: 20px auto;
    .btn-submit {
    width: 100%;
  }
}


