 .user_show {
    margin-top: 20px;
    background-color: white;
    height: 400px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    width: 650px;
    margin-bottom: 10px;



  }

 .species_left {
    margin-top: 20px;
    background-color: white;
    height: 600px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    width: 650px;

    display: flex;
    margin-bottom: 10px;


  }

.container-user-profile {
  display: flex;
  justify-content: space-between;
}

.img-species-profile {
  height: 150px;
  background-image: left;
  position: absolute;
  top: 200px;
  right: 400px;

}

.species-type {

  position: absolute;
  top: 360px;
  right: 500px;
  font-size: 10px;
  line-height: 3px;

}
