
.user_show {
  // border:solid;
  height: 300px;
  color: black;
  padding: 15px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
  // align-items: center;

  .profile-description {
    flex-grow: 1;
    text-align: center;
    margin-right: 50px;
    height: 300px;
    overflow-y: auto;
  }

  .user-edit-link{
    width: 300px;
    height : 40px;
    text-align: center;

    &:hover {
      opacity: 80%;
    }
  }
  .send-message {
    max-width: 250px;
    min-width: 250px;
    flex-grow: 0;
    height : 40px;
    text-align: center;



    &:hover {
      opacity: 80%;
    }
  }
}



.species_left {
  background-color: white;
  height: 350px;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 10px;
  width: 90%;
  margin: auto;
}


.container-user-profile {
  justify-content: space-between;
}

.img-species-profile {
  height: 150px;
  background-image: left;
  position: absolute;
  top: 100px;
  right: 300px;
}

.species-type {

  position: absolute;
  top: 270px;
  right: 360px;
  font-size: 10px;
  line-height: 3px;
}

.card-photo-user {
  margin: auto;
  height: 400px;
  color: black;
  border-radius: 4px;
  padding: 20px;
  width: 90%;
  display: flex;
}



.review-spotted-user {
  background-color: white;
  height: 300px;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 20px;

  .spot-name-link{
    text-decoration: none;
    color: $success;
    padding-left: 0;

    h3:hover{
      font-weight: 900;
    }
  }
}

.card-comment-user {
  margin: 0 10px 10px 10px;
  background-color: white;
  height: 200px;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 0.3px rgba(0,0,0,0.2);
  padding: 20px;
  width: 50%;
  position: relative;
  top: 0px;
  left: 40px;
  // border: solid;
}

.reviews-header-user {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;


  p.review-content {
    margin-top: 8px;
    font-style: italic;
    // border:solid;
    height: 80px;
    overflow-y: auto;
  }

  p.full-rev {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


// .row-header-user {
//   padding: 10px;
//   display: flex;
//   justify-content: space-around;
//   width: 9%;

// }


.avatar-large-bordered-user {
  width: 224px;
  height: 224px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.8);
  margin: 5px 50px;
}


#review-photos-user {
  width: 200%;
  height: 320px;
}


// .button-user-edit {

//   border: none;
//   color: white !important;
//   padding-top: 13px;
//   padding-bottom: 1px;
//   padding-right: 10px;
//   padding-left: 10px;
//   text-shadow: 1px 1px 2px #2a9d8f;
//   text-align: center;
//   display: inline-block;
//   font-size: 16px;
//   margin-left: 30px;

//   justify-content: center;// to overwrite bootstrap's style

//   .user-edit-link{
//     text-decoration: none;
//     color: $success;
//   }
// }

.button-user-follow {
  display: flex;
  position: absolute;
  top: 20.9%;
  left: 100px;
  text-shadow: 1px 1px 2px ;
  color: grey;
}


