<h1 class="text-center">My conversations</h1>

<div class="messagerie">
  <div class="conv-panels">
    <h2 class="text-center">Discussions</h2>
    <%@conversations.each do |conversation|%>
      <% @contact = conversation.users.where.not(id: current_user) %>
      <div class="c-panel">
        <img src=" <%= @contact.first.avatar_url%> " alt="" class="avatar-large">
        <div class="text-panel">
          <h3><%= @contact.first.first_name%></h3>
          <div class="preview">

            <p><%=conversation.messages.last.content%><span> · <%=conversation.messages.last.created_at.strftime("%H:%M")%></span> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="conv-show">
    <%# User.last.conversations.join(:messages).order(messages: {updated_at: :desc}) %>

  </div>

</div>
