

<div class="container-user-profile">
  <div class="row">
    <div class="user-show text-center">
      <div class="user_show">
        <img class="avatar-large-bordered" src="<%=@user.avatar_url%>"  alt="user avatar">
  <div style="height: 25px"></div>

    <h2> <%=@user.nickname%></h2>

    <div style="height: 5px"></div>
    <hr style="height: 2px; color: #2a9d8f; background-color: #2a9d8f; width: 50%; border: none;">
    <div style="height: 10px"></div>
        <p><%=@user.description%></p>
    </div>
</div>
</div>


<div class="row">



<h4 class="text-center"><i>Species observed :</i></h4>

    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Green_turtle_in_Kona_2008.jpg" alt="" class="img-species-profile" style="text-align: right">
      <div class="species-type">

      <h5><%=%></h5>
        <p>Species family :</p>
        <p>Deeth : </p>
         <p>Size : </p>
      </div>
  </div>
</div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Green_turtle_in_Kona_2008.jpg" alt="" class="img-species-profile-two" style="text-align: right">
      <div class="species-type-two">
      <h5>Species name</h5>
        <p>Species family :</p>
        <p>Deeth : </p>
         <p>Size : </p>
      </div>



</div>
    <div class="card-photo-user">
      <h1>Photo</h1>
    </div>
