<div class="panel">
  <div class="photo"></div>
  <div class="panel-details">
    <div class="panel-text">
    <h2>Pemuteran</h2>
    <h4>Bali region</h4>
    </div>
    <div class="tags-list">
      <div class="tag">Epave</div>
      <div class="tag">Coraux</div>
    </div>
    <div class="panel-rating"><i class="far fa-star"></i> 4.5 (126) </div>
  </div>
</div>