<div class="panel">
  <% photo_key = spot.photos.count.zero? ? 'g800mew8nhinkxmg6uok92ssk1en' : spot.photos.first.key %>
  <div class="photo" style="background-image: url('<%= cl_image_path photo_key %>')"></div>
  <div class="panel-details">
    <div class="panel-text">
    <h2> <%= spot.name %> </h2>
    <h4>Bali region</h4>
    </div>
    <div class="tags-list">
      <div class="tag">Epave</div>
      <div class="tag">Coraux</div>
    </div>
    <div class="panel-rating"><i class="far fa-star"></i> 4.5 (126) </div>
  </div>
</div>
