
<div class="container-home">

  <h1 class="website-name">MOAI'A</h2>

  <div class="container-find" >
      <form action="/spots" accept-charset="UTF-8" method="get" class="search-form-home" >
        <input type="text" name="query" id="query" class="inputsearch" style="background-color: white; color: black;" placeholder="Spots, species...">
        <div class="search"></div>
      </form>
  </div>

  <h2>Your diving adventure starts here.</h1>

</div>
