<div class="container-home">
  <div class="background h-100">
  <div class="container find h-100" >
      <h1  style="">Find your next spot</h1>
      <div class="d-flex justify-content-center">
        <div class="container">
          <input type="text" placeholder="Search..." class="inputsearch">
          <div class="search"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
