<div class="background">
  <div class="container find h-100">
      <h1>Find your next spot</h1>
      <input type="text" placeholder="Search...">
      <div class="search ">
    </div>
  </div>
</div>
