
<div class="container-home">
  <div class="background h-100">
    <div class="container find h-100" >
    <div>
     <h2 class="name-website">Moaia</h2>
    </div>
      <div style="height: 270px"></div>
      <h1  style="">Find your dive</h1>
      <div class="d-flex justify-content-center">
        <div class="container">
          <div class="input-group-btn search-panel open">
          <form action="/spots" accept-charset="UTF-8" method="get" style="color: black;" >
            <input type="text" name="query" id="query" class="inputsearch" style="background-color: white; color: black;" placeholder="Spots, species...">
            <div class="search"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
