.btn-submit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $success;
  transition: background 0.3s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);

  &:hover {
    background: $success;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
}
