.btn-submit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $success;
  transition: background 0.3s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  &:hover {
    background: $success;
    color: white;
  }
}
