.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
 box-shadow: 1px 1px 12px #555;
 color: $success !important;

.navbar-lewagon:hover {
  background-color: black;
}

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: $success!important;


}

.active:hover {
  color: white !important;
  opacity: 0.40;
}
