.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
 box-shadow: 1px 1px 12px #555;
 color: #2A9D8F !important;


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color:#2A9D8F!important;
}
