
.photo {
  height: 60%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panels {
  width: 50%;
  margin: 16px;

}

.panel {
  height: 300px;
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .2s;
  position: relative;
}

.panel:hover {
  transform: scale(1.02);
  }

.panel-details {
  background-color: white;
  height: 40%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 16px;

}

.panel-text {
  display: flex;
  margin-bottom: 8px;
  align-items: flex-end;

  h2 {
    margin-bottom: 0px;
    color: $success;
  }

  h4 {
    font-style: italic;
    color: rgba(150, 150, 150, 0.8);
    margin-bottom: 0px;
    margin-left: 16px;
    padding-bottom: 3px;
  }

}

.tags-list {
  display: flex;
}

.tag {
  padding: 4px 8px;
  color: white;
  border-radius: 4px;
  margin: 4px;

}

.tag-blue {
  background-color: darkblue;
}

.tag-orange {
  background-color: orange;
}

.tag-green {
  background-color: lightgreen;
}

.panel-rating {
  height: 30px;
  // display: flex;
  // align-items: start;
  color: $success;
  position: absolute;
  top: 208px; right: 24px;
  // top: 0px; right: 48px;

  .fa-star {
    color: $yellow;
    margin-right: 8px;
  }

}

.far.fa-heart {
  height: 30px;
  // display: flex;
  // border: solid;
  // align-items: start;
  position: absolute;
  top: 256px; right: 32px;
  color: grey;
  z-index: 100;
  &:hover {
    color: #e32434;
  }
}

.fas.fa-heart {
  color: #e32434;
  z-index: 100;
  position: absolute;
  top: 256px; right: 32px;
}


.selected {
  transform: scale(1.02);
}
