<div class="avatar"></div>

<div class="container-user-profile">
  <div class="row">
    <div class="user-show text-center">
      <div class="user_show">
    <h2>Jean-Michel Plongée</h2>
      <p>bla bla bla</p>
        <p>Conditions :</p>
    </div>
</div>


<div class="row">
  <div class="species_left">
    <h4 class="text-center"><i>Species observed :</i></h4>

    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Green_turtle_in_Kona_2008.jpg" alt="" class="img-species-profile" style="text-align: right">
      <div class="species-type">
      <h5>Species name</h5>
        <p>Species family :</p>
        <p>Deeth : </p>
         <p>Size : </p>
      </div>
  </div>
</div>
  </div>
</div>
